{% extends 'base.html' %}

{% block header_text %}Adicionar despesa{% endblock %}

{% block title-contents %} Adicionar despesa {% endblock %}

{% block content %}

    <div class="card-body">
      {% if resposta %}
        <div class="alert alert-success" role="alert">
          {{ resposta }}
        </div>
      {% endif %}
      <form method="post" action="adicionardespesa">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input class="form-control" name="nome_despesa" id="inputNomeDespesa" type="text" placeholder="Nome da despesa" />
            <label for="inputNomeDespesa">Nome da despesa</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" name="descricao_despesa" id="inputDescricao" type="text" placeholder="Descrição" />
            <label for="inputDescricao">Descrição</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" name="valor_total_despesa" id="inputValorTotal" type="number" placeholder="R$ 00.00" />
            <label for="inputValorTotal">Valor</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" name="data_despesa" id="inputData" type="date" placeholder="01/01/2022" />
            <label for="inputData">Data</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-control" name="tipo_divisao_desp" id="tipo_divisao">
              <option value="IGUAL">Dividir igualmente</option>
              <option value="DESIGUAL">Dividir desigualmente</option>
              <option value="PERCENTUAL">Dividir percentualmente</option>
            </select>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" name="valor_atribuido" id="inputDescricao" type="text" placeholder="Valores atribuidos (separe por ';')" />
            <label for="inputDescricao">Valores atribuidos</label>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <button class="btn btn-primary" type="submit">Inserir</button>
          </div>
      </form>
  </div>
{% endblock %}
