{% extends 'base.html' %}
    {% block content %}
        <h1 class="mt-4">Histórico</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Histórico</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Histórico
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Data</th>
                            <th>Tipo divisão</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in despesas %}
                        <tr>
                            <td>{{ d.valor_total }}</td>
                            <td>{{d.nome}}</td>
                            <td>{{d.descricao}}</td>
                            <td>{{d.data}}</td>
                            <td>{{d.tipo_divisao}} </td>
                            <td>{{d.status}}</td>
                        </tr>
                        {% endfor %}
                          </tbody>
                </table>
            </div>
        </div>
    {% endblock %}